body {
    background:#100740;
     margin:0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mainbox {
    padding:0;
    margin:0;

}
#header #logo{

    width:20%;
    float:left;
    padding:10px;
    color:white;
    background-image:url("../images/baby-23991_640.png");
    background-size:auto;

}

#header h1,h3{
    margin:0;

}

#header #navigation {
    width:70%;
    float:right;

 

}

#navigation table{
    width:100%;
    font-size:1.5em;
    color:black;
    border-collapse:collapse;
    height:90px;
}

#navigation table td{
    border:1px solid white;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
     background-color:#0a0b1d;



}

#navigation table td:hover{
    border:1px solid white;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    opacity:.5;
   


}

#homepage {
    background-image:url(../images/download.jpg);

}

#content {
    clear:both;
   
    background-color:#ffffff;
    height:600px;
    width:100%;
    
}

#footer{
color:white;
text-align:center;
padding:20px;
}

#footer table {
    width:400px;
    margin-left:auto;
    margin-right:auto;
    clear:both;
}

#footer img {
    width:50px;
    height:50px;
    margin:10px;
    border-radius:10px;

}

#footer p {
    margin:10px;
}

#footer a {
    color:white;
    background-color:black;
    padding:10px;
    

}

#homepage {
    float:left;
    height:600px;
    width:70%;
    backgr
}

#signup {
    float:right;
    height:600px;
    width:30%;
}
